In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv('/content/Restaurant_Reviews.tsv',delimiter='\t',quoting=3)

In [5]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [6]:
df.describe()

            Liked
count  1000.00000
mean      0.50000
std       0.50025
min       0.00000
25%       0.00000
50%       0.50000
75%       1.00000
max       1.00000

In [7]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [8]:
corpus=[]

In [9]:
for i in range(0,1000):
  review=re.sub('[^a-zA-Z]','',df['Review'][i])
  review=review.lower()
  review=review.split()
  ps=PorterStemmer()
  all_stopwords=stopwords.words('english')
  all_stopwords.remove('not')
  review=[ps.stem(word) for word in review if not word in set(all_stopwords)]  
  review=' '.join(review)
  corpus.append(review)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv=CountVectorizer(max_features=1500)

In [13]:
X=cv.fit_transform(corpus).toarray()
y=df.iloc[:,-1].values

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [18]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [19]:
preds=model.predict(X_test)

In [20]:
from sklearn.metrics import classification_report,confusion_matrix

In [21]:
print(classification_report(y_test,preds))
print('\n')
print(confusion_matrix(y_test,preds))

              precision    recall  f1-score   support

           0       1.00      0.01      0.02        96
           1       0.52      1.00      0.69       104

    accuracy                           0.53       200
   macro avg       0.76      0.51      0.35       200
weighted avg       0.75      0.53      0.37       200



[[  1  95]
 [  0 104]]